body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* background-image: url("./assets/shapes/curveAsymmetrical.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
body, html {
  height: 100%;
}

